{#/src/CCI/RamScoBundle/Resources/views/Registration/register_content.html.twig#}

{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

	{{ form_errors(form) }}

<div class="form-group col-sm-4">
	<h3>Identité</h3>
{#Nom#}
	{# Génération du label. #}
      {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'control-label'}}) }}
    {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nom) }}
    {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control',  'placeholder': "Nom"}}) }}

{#Prénom#}
      {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.prenom) }}
      {{ form_widget(form.prenom, {'attr': {'class': 'form-control',  'placeholder': "Prénom"}}) }}


{#Date de naissance#}
	  {{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {'class': 'control-label'}}) }}
	  {{ form_errors(form.dateNaissance) }}
	  {{ form_widget(form.dateNaissance, {'attr': {'class': 'date_naissance'}}) }}
		
	<div class="YN">	
{#Enfant#}
	  {{ form_label(form.enfants, "Êtes-vous l'adhérent principal de la famille ?", {'label_attr': {'class': 'control-label'}}) }}
	  {{ form_errors(form.enfants) }}
	  {{ form_widget(form.enfants, {'attr': {'class': 'radio'}}) }}

{#Permis de conduire#}
	  {{ form_label(form.permis, "Possédez-vous le permis de conduire ?", {'label_attr': {'class': 'control-label'}}) }}
	  {{ form_errors(form.permis) }}
	  {{ form_widget(form.permis, {'attr': {'class': 'radio'}}) }}
	</div>
</div>
<div class="form-group col-sm-4">
	<h3>Informations de contact</h3>
{#Adresse#}
      {{ form_label(form.adresse, "Adresse postale", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.adresse) }}
      {{ form_widget(form.adresse, {'attr': {'class': 'form-control',  'placeholder': "Adresse"}}) }}

{#Email#}
      {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'class': 'form-control',  'placeholder': "E-mail"}}) }}

{#Téléphone#}	
      {{ form_label(form.telephone, "Numéro de téléphone", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.telephone) }}
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control',  'placeholder': "01 234 567", 'type': 'tel'}}) }}
      
</div>
<div class="form-group col-sm-4">
	<h3>Informations de connexion</h3>
{#Username#}
      {{ form_label(form.username, "Pseudo", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.username) }}
      {{ form_widget(form.username, {'attr': {'class': 'form-control',  'placeholder': "Pseudo"}}) }}

{#Password#}
      {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.plainPassword.first) }}
      {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control',  'placeholder': "Mot de passe"}}) }}

{#Confirmation Password#}
      {{ form_label(form.plainPassword.second, "Confirmation du mot de passe", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.plainPassword.second) }}
      {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control',  'placeholder': "Mot de passe"}}) }}
      
</div>


{#Bouton#}
		<input type="submit" class="btn btn-default" value="S'inscrire" />


    
{{ form_end(form) }}

