{#/src/CCI/RamScoBundle/Resources/views/Registration/register_content.html.twig#}

{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

	{{ form_errors(form) }}

<div class="form-group col-sm-3">
{#Nom#}
	{# Génération du label. #}
      {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'control-label'}}) }}
    {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nom) }}
    {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control',  'placeholder': "Nom"}}) }}

{#Prénom#}
      {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.prenom) }}
      {{ form_widget(form.prenom, {'attr': {'class': 'form-control',  'placeholder': "Prénom"}}) }}

{#Date de naissance#}
	  {{ form_label(form.dateNaissance, "Date de naissance", {'label_attr': {'class': 'control-label'}}) }}
	  {{ form_errors(form.dateNaissance) }}
	  {{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
			
{#Permis de conduire à brancher !!!!!!!!#}		
		<label>Permis de conduire (à brancher)</label>
		<label class="radio-inline">
			<input type="radio" name="permis" value="oui">Oui
		</label>
		<label class="radio-inline">
			<input type="radio" name="permis" value="non">Non
		</label>

</div>

<div class="form-group col-sm-3">
{#Adresse#}
      {{ form_label(form.adresse, "Adresse postale", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.adresse) }}
      {{ form_widget(form.adresse, {'attr': {'class': 'form-control',  'placeholder': "Adresse"}}) }}

{#Email#}
	
      {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'class': 'form-control',  'placeholder': "E-mail"}}) }}

{#Téléphone#}	
      {{ form_label(form.telephone, "Numéro de téléphone", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.telephone) }}
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control',  'placeholder': "XX XXX XXX", 'type': 'tel'}}) }}
      
</div>
<div class="form-group col-sm-3">
{#Username#}
      {{ form_label(form.username, "Pseudo", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.username) }}
      {{ form_widget(form.username, {'attr': {'class': 'form-control',  'placeholder': "Pseudo"}}) }}

{#Password#}
      {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.plainPassword.first) }}
      {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control',  'placeholder': "Mot de passe"}}) }}

{#Confirmation Password#}
      {{ form_label(form.plainPassword.second, "Confirmation du mot de passe", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.plainPassword.second) }}
      {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control',  'placeholder': "Mot de passe"}}) }}
      
</div>

<div class="form-group col-sm-3">
	<label for="nb_enfants">Nombre d'enfants inscrits à l'école : </label>
	<input type="number" class="form-control" name="bn_enfants" min="0" placeholder="1" required/>
    
    {#si nb d'enfant = X -> affiche X champs prénom de l'enfant + date_naissance en JAVASCRIPT #}
		<fieldset class="enfant">
			<legend>Enfant n°1</legend>
			<label for="prenom_enfant">Prénom : </label>
			<input type="text" class="form-control" name="prenom_enfant"  placeholder="Prénom" required/>
							
			<label for="date_naissance_enfant">Date de naissance : </label>
			<input type="date" name="date_naissance_enfant" class="form-control" placeholder="20/07/1990"/>
		</fieldset>
    
      {{ form_rest(form) }}
</div>


{#Bouton#}

		<input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />


    
{{ form_end(form) }}

