

  <h2>Personne</h2>


  <p>

    <a href="{{ url('personne_view', {'id': personne.id}) }}" class="btn btn-default"> Test </a><br />
	Personne n°{{ personne.id }} :<br />
		Nom : {{ personne.Nom }}<br />
		Prenom : {{ personne.Prenom }}<br />
		Adresse : {{ personne.Adresse }}<br />
  </p>


