{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Interface administrateur - {{ parent() }}
{% endblock %}


{% block body %}


<div class="container">

  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#adherents">Gestion des adhérents</a></li>
    <li><a data-toggle="tab" href="#participants">Gestion des participants</a></li>
    <li class="active"> <a data-toggle="tab" href="#activites">Gestion des activités</a></li>
    <li><a data-toggle="tab" href="#roles">Gestion des rôles</a></li>
  </ul>

  <div class="tab-content">
    <div id="adherents" class="tab-pane fade ">
		<h2>Liste des adhérents</h2>
		<table border="1">
		<thead>
			<tr><th>Id</th><th>Nom</th><th>Prénom</th><th>Adresse</th><th>Téléphone</th></tr>
		</thead>
		<tbody>
		{% for personne in listAdherent %}
					<tr>
						<td> <a href="/admin/adherent/view"> {{ personne.id }}  </a></td>
						<td> {{ personne.nom }}</td><td> {{ personne.prenom }} </td>
						<td> {{ personne.adresse }} </td><td> {{ personne.telephone }} </td>
						<td> <a href="/admin/adherent/edit">Modifier / Supprimer </a></td>
					</tr>
				  {% endfor %}
		</tbody>
		</table>
		
		
	</div>
	
    <div id="participants" class="tab-pane fade in active">
		<h2>Liste des participants</h2>
		<table border="1">
		<thead>
			<tr><th>Nom</th><th>Prénom</th><th>Rôle</th><th>Téléphone</th><th>Modifier</th></tr>
		</thead>
		<tbody>
		{% for participant in listParticipant %}
					<tr>
						<td> {{ participant.personne.nom }}</td>
						<td> {{ participant.personne.prenom }} </td>
						<td> {{ participant.role.typeRole }} </td>
						<td> {{ participant.activite.titreActivite }} </td>
						<td> <a href="/admin/participant/edit/{{ participant.id }}">*</a></td>
						<td> <a href="/admin/participant/remove/{{ participant.id }}">x</a></td>
					</tr>
				  {% endfor %}
		</tbody>
		</table>
		<a href="/admin/participant/add">Ajouter un participant</a>

    </div>
    
     <div id="activites" class="tab-pane fade ">
		<h2>Liste des activités</h2>
		<table border="1">
		<thead>
			<tr><th>Date</th><th>Titre Activité</th><th>Lieu</th></tr>
		</thead>
		<tbody>
		{% for activite in listActivite %}
					<tr>
						<td> {{ activite.stringdateActivite }} </td>
						<td> {{ activite.titreActivite }} </td>
						<td> {{ activite.lieu }} </td>
						<td> <a href="/admin/activite/edit/{{ activite.id }}">Modifier / Supprimer </a></td>
					</tr>
				  {% endfor %}
		</tbody>
		</table>
		<a href="/admin/activite/add">Planifier une activité</a>
		
		
    </div>
    
    <div id="roles" class="tab-pane fade ">
		<h2>Liste des rôles</h2>
		<table border="1">
		<thead>
			<tr><th>Type Rôles</th><th>Description</th></tr>
		</thead>
		<tbody>
		{% for role in listRole %}
					<tr>
						<td> {{ role.typeRole }} </td>
						<td> {{ role.fonction }} </td>
						<td> <a href="/admin/role/edit/{{ role.id }}">Modifier / Supprimer </a></td>
					</tr>
				  {% endfor %}
		</tbody>
		</table>
		<a href="/admin/role/add">Ajouter un rôle</a>

	</div>
	
  </div>
</div>


		
{% endblock %}
