{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Ajout / Edition adhérent - {{ parent() }}
{% endblock %}



{% block stylesheets %}
{{ parent() }}
<style>
	label::after {content: " :	";}
	.page {width:60; margin-left: 20%; margin-right: 20%;}
</style>
{% endblock %}

{% block body %}
  <h2>Ajout / Edition d'un adhérent</h2>

<div class="page">
  <p>Veuillez entrer les informations concernant le nouvel adhérent ou modifier l'adhérent déjà existant :</p>
<div class="form-group col-sm-6">
{#Nom#}
      {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.nom) }}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control',  'placeholder': "Nom"}}) }}

{#Prénom#}
      {{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.prenom) }}
      {{ form_widget(form.prenom, {'attr': {'class': 'form-control',  'placeholder': "Prénom"}}) }}

{#Adresse#}
      {{ form_label(form.adresse, "Adresse postale", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.adresse) }}
      {{ form_widget(form.adresse, {'attr': {'class': 'form-control',  'placeholder': "Adresse"}}) }}

{#Email#}
      {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'class': 'form-control',  'placeholder': "E-mail"}}) }}

{#Téléphone#}	
      {{ form_label(form.telephone, "Numéro de téléphone", {'label_attr': {'class': 'control-label'}}) }}
      {{ form_errors(form.telephone) }}
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control',  'placeholder': "01 234 567", 'type': 'tel'}}) }}

  {{ form(form) }}
</div>
</div>
{% endblock %}
