{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Fiche participant n° {{ participant.id }}- {{ parent() }}
{% endblock %}

{% block body %}
        <h2>{{ participant.personne.nomprenom }}</h2>
			<p>Rôle : {{ participant.role.typerole }}</p>
			<p>Activite : {{ participant.activite.titreactivite }}</p>
			<p>Date / Heure : {{ participant.activite.stringdateactivite }}</p>
{% endblock %}
