{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Fiche activité n° {{ activite.id }}- {{ parent() }}
{% endblock %}

{% block body %}
<a href="/admin">Retour</a>
        <h2>{{ activite.titreActivite }}</h2>
			<p>Lieu : {{ activite.lieu }}</p>
			<p>Date et Heure: {{ activite.stringdateactivite }}</p>
			<p>Fournitures : {{ activite.fournitures }}</p>
			<p>Coût : {{ activite.cout }}</p>
{% endblock %}
