{% extends "CCIRamScoBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<style>
	h2{text-align:center}
		
</style>
{% endblock %}
{% block title %}
	Espace Membre - {{ parent() }}
{% endblock %}

{% block body %}
    

        <h2>Bonjour {{ Prenom }} {{ Nom }} !</h2>


		<h3>Vos informations personnelles :</h3>
		
		<p>
            Numéro d'adhérent : {{ id }} :<br />
			Adresse : {{ Adresse }}<br />
			Cotisation :<br />
			Enfants : Oui / Non ? Puis leurs nom ?<br />
			Mail :<br />
			Permis : Oui / Non<br />
			<br />
		Activités :	<br />
			Nom de l'activité :<br />
			Lieu :<br />
			Rôle dans cette activité :<br />
			

        </p>

{% endblock %}
