{% extends "CCIRamScoBundle::layout.html.twig" %}

{% block title %}
	Liste Participants - {{ parent() }}
{% endblock %}

{% block body %}
  <h2>Participants</h2>


  <p>
	
	<table border="1">
	<thead>
	<tr><th>Id</th><th>Nom</th><th>Prénom</th><th>Adresse</th><th>Rôle</th><th>Activité</th></tr>
	</thead>
	{% for participant in listParticipant %}
	<tr><td>{{ participant.id }}</td>
	<td>{{ participant.personne.Nom }}</td>
	<td>{{ participant.personne.Prenom }}</td>
	<td>{{ participant.personne.Adresse }}</td>
	<td>{{ participant.role.typeRole }}</td>
	<td>{{ participant.activite.titreActivite }}</td></tr>
	{% endfor %}
	</table>
  </p>

{% endblock %}
